body{
  background-color: white;
}
#logo{
   text-align:left;
   padding-left: 30px;
   position: fixed;

}

  


#nav-container{
   padding-left: 890px;
   
   
   /* position: fixed;   */

}

 #footer-container{

  padding-right: 600px;

 }
#footer-container {
  position: fixed;
  left: 0;
   bottom: 0; 
  width: 100%;
  background-color:black;
  color: white;
  text-align: left;
   padding: 15px 0;
  z-index: 100; 
  padding-left: 30px;
}
#main-container{
  /* position: fixed;
  left: 100;
   bottom: 0; 
  width: 50%; */
  text-align: left;
  padding: 200px 0;
  text-align: center;
  position: fixed;
  padding-left: 90px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* padding-right: 590px; */
 /* z-index: 100;  */


}
.main{
  /* background-color:white;
  width: 0px;
  height: 0px; */
  text-align: right;
  padding:130px;
  position: fixed;
  padding-left: 670px;
}


#text{
  padding-left: 270px;
    height: 60vh;
    display: flex;
    align-items: center;
    position: fixed;
    /* background-color: rgb(222, 180, 187);
    padding: 0%; */

}

button{color: white;
background-color: black;
}
 .button1{
 color: aqua;
  padding-left: 270px;
  height: 90vh;
  display: flex;
  align-items: center;
  position: fixed;
  transition: background-color 0.9ms;
} 
.button2{
  color: aqua;
  padding-left: 370px;
  height: 90vh;
  display: flex;
  align-items: center;
  position: fixed;
}
/* .container-text{
background-color: rgb(173, 166, 167);

} */
 /* #number{
  background-color: rgb(225, 15, 15);
 } */



