body{
  background-color: white;
  
}
#logo{

   text-align:left;
   padding-left: 30px;
   position: fixed;

}
/* #nav{
  padding-left:790px;
} */
  /* #log ul li{
  list-style-type: none;
  width: 150px;
  float: left;
  

  /* padding-left: 890px; */

    /* color: firebrick;
  text-decoration: none; }
   */
  
  /* #li a{
  text-decoration: none;
  background-color: black;
  color: white;
  line-height: 50px;
  padding: 0px;
  text-align: center;
 }  */
#nav-container{
   padding-left: 800px;
}
#mynav {
  color: black;
  padding: 10px;
}

#mynav a {
  color: rgb(9, 1, 1);
  text-decoration: none;
  margin-right: 15px;
  font-family: Arial, sans-serif;
}

#mynav a:hover {
  text-decoration: underline;
}

  #footer-container{

  padding-right: 600px;
  bottom: 0px; 

 } 
#footer-container {
  position: fixed;
  left: 0;
   bottom: 0; 
  width: 100%;
  background-color:black;
  color: white;
  text-align: left;
   padding: 15px 0;
  z-index: 100; 
  padding-left: 30px;
  
}
#main-container{
  /* position: fixed;
  left: 100;
   bottom: 0; 
  width: 50%; */
  /* background-color:rgb(223, 201, 201); */
  text-align: left;
  padding: 200px 0;
  text-align: center;
  position: fixed;
  padding-left: 200px;
  font-family:Poor Richard;
  /* padding-right: 590px; */
 /* z-index: 100;  */


}
.main{
  /* background-color:white;
  width: 0px;
  height: 0px; */
  text-align: right;
  padding:130px;
  position: fixed;
  padding-left: 670px;
}


/* #text{
  padding-left: 270px;
    height: 60vh;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: rgb(222, 180, 187);
    padding: 0%; 

} */

button{color: white;
background-color: black;
}
 .button1{
 color: aqua;
  padding-left: 270px;
  height: 90vh;
  display: flex;
  align-items: center;
  position: fixed;
  transition: background-color 0.9ms;
} 
#delete{
  color: aqua;
  padding-left: 370px;
  height: 90vh;
  display: flex;
  align-items: center;
  position: fixed;
}
/* .container-text{
background-color: rgb(173, 166, 167);

} */
 /* #number{
  background-color: rgb(225, 15, 15);
 } */
#contact-container{
  /* border: 20px solid=black; */
  border-radius: 35px;
  color:rgb(0, 0, 0);
  /* background-color: black; */
  /* width: 600px;
  height: 200px; */

  max-width: 290px;
  margin: auto;
  background-color: white;
  padding: 140px;
  border-radius: 30px;
  box-shadow: 0 0 10px black;
  margin-top: 55.79px;
  
/* 
  padding-top: 100px;
  
  text-align: center; 
  font-family: initial; */
  /* padding-left: 70px;
  padding-right: 70px;
  position: absolute;
  bottom: 200px;
  padding-inline-start: 20px; */
  /* padding-inline-end: 400px; */
}
.skills-container{
  /* margin-top: 600px; */

  /* position: absolute; */
  bottom: 190px;
  padding-left: 100px;
   /* box-shadow: 0 0 10px rgb(62, 43, 145);
  height: 430px; */
  
}
.contact{
  margin-top:-100px ;
  text-align: center;
  text-decoration: overline;
}
  #skills1{
   position: sticky; 
  margin-top: -10px;
   max-width: 139px;
  max-height: 469px;
  /* margin: auto;  */
  background-color:white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  
}  
#skills2{
  color: black;
  background-color: white;
  box-shadow: 0 0 10px  rgb(0, 0, 0);
}
#skills3{
  color: black;
  background-color: white;
  box-shadow: 0 0 10px  rgb(0, 0, 0);
}
#skills4{
  color: black;
  background-color: white;
  box-shadow: 0 0 10px  rgb(0, 0, 0);
}

/* #email{
  text-align: right;
  padding-left: -50px;
} */
#loginForm{
   max-width: 290px;
  margin: auto;
  background-color: white;
  padding: 140px;
  border-radius: 30px;
  box-shadow: 0 0 10px black;
  margin-top: 55.79px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 100px;
}
/* #log{
  text-decoration: overline;
  
} */
.error{
  color: red;
  margin-top: 5px;
}

#blog-container{
  text-align: center;
  padding-left: 10px;
   margin-top: -60px; 
}
.area{
  padding: 70px;
  text-align: center;
  margin-top: -90px;
}
p{
  padding-left:100px ;
  text-align: center;
  padding: 0px;
  position: fixed;
  padding-left: 400px;
   margin-top: 70px; 
}
/* @media(max-width:768px){
  #logo{
    position: fixed;
  }
  #footer-container{
    width: 0px;
    height: 0px;
  }
  
} */
 /* @media(max-width:900px){
  p{
    color: blue;
  }
 } */
  
 #solve{
  width: 800px;
   position: fixed; 
  
  }
  #blog{
     max-width: 290px;
     max-height: 90px;
  margin: auto;
  background-color: white;
  padding: 140px;
  border-radius: 30px;
  box-shadow: 0 0 10px black;
  /* margin-top: 55.79px;  */
  /* margin-top: 0.0px; */
  }
/* 
  @media(max-width<600px){
    #logo{
      margin-top: -100px;
      
    }
  } */